* {
    margin: 0;
    padding: 0;
}

body { font-family: sans-serif; }

.mobile { display: none; }

.container {
    background: url("img/floor-plan.png?v=20180406") no-repeat #ccff99;
    height: 625px;
    margin: 25px auto;
    width: 625px;
}

.field {
    position: absolute;
}

.object {
    display: inline-block;
    float: left;
    position: absolute;
}

#pointer {
    background-color: orange;
    height: 25px;
    left: 25px;
    top: 25px;
    width: 25px;
}

#key {
    background: url("img/key.png?v=20180417") no-repeat;
    height: 25px;
    left: 550px;
    top: 50px;
    width: 25px;
}

#sword {
    background: url("img/sword.png?v=20180417") no-repeat;
    height: 25px;
    left: 75px;
    top: 300px;
    width: 25px;
}

#door {
    background: url("img/door.png?v=20180417") no-repeat;
    height: 25px;
    left: 300px;
    top: 225px;
    width: 50px;
}

@media (max-width:768px) {
    .container { display: none; }
    .mobile {
        background-color: #000;
        color: #fff;
        display: block;
        height: 50px;
        line-height: 50px;
        margin: 15px;
        text-align: center;
    }
}