* {
    margin: 0;
    padding: 0;
}

body { font-family: sans-serif; }

.mobile { display: none; }

.container {
    background: url("img/floor-plan.png") no-repeat #ccff99;
    height: 625px;
    margin: 10px auto;
    width: 625px;
}

.row {
    height: 175px;
    position: relative;
    width: 100%;
}

.room {
    display: inline-block;
    height: 175px;
    padding: 5px;
    position: absolute;
    width: 175px;
}

.room-middle {
    left: 175px;
    top: 0;
}

.room-right {
    left: 350px;
    top: 0;
}

.room-left {
    left: 0;
    top: 0;
}

#pointer {
    background-color: orange;
    display: inline-block;
    float: left;
    height: 25px;
    left: 0;
    position: relative;
    top: 0;
    width: 25px;
}

@media (max-width:768px) {
    .container { display: none; }
    .mobile { display: block; }
}